name: Continuous integration
on: [push]

jobs:
  ci: 
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - uses: olafurpg/setup-scala@v10
      - name: Code style
        run: sbt scalafmtCheck
      - name: Linting
        run: sbt "scalafixAll --check"
      - name: Tests
        run: sbt +test
      - name: Documentation
        run: |
          mkdir site-output
          sbt doc
